.item {
    width: 15%;
    height: 28%;
    min-width:30px;
    min-height: 25px;
}

.players {
    width: 55px;
    height: 30px;
    padding-left: 11px;
    padding-right: 11px;
}

.fill {
    height: 100%;
    background-color: red;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 0;
    font-size: 15px;
    line-height: 1.35;
    text-align: left;
}

.participant {
    white-space: nowrap;
    overflow: hidden;
    color:#505050;
}

.feedback {
    display:inline-block;
    width:fit-content;
    background:rgb(124, 170, 217);
    border-radius: 3px;
    margin-right: 5px;
}
.kda {
    margin-left:2%;
    font-size:1.2vw;
}
.description {
    font-size: 15px;
}

.emblems {
    width:100%;
    height:100%;
    display:inline-block
}

@media only screen and (max-width: 800px) {
    .championRanks {
      display: none;
    }

    body {
        font-size:12px;
    }
    .description {
        font-size: 7px;
    }
  }